.navbar, .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
    background: transparent;
    border: none;
    background-color:black;
    border-radius: 0;
    color: white;
    font-family: 'Droid Sans', sans-serif;
    font-size: 20px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
    color: #8D78E7;
}
#brand {
    max-height: 100%;
    background:transparent;
    vertical-align: middle;
}

.navbar-brand {
    line-height: 75px;
    height: 75px;
    padding-top: 8px;
}

.navbar-nav li a {
    line-height: 45px;
}

.container {
    width: 70%;
}
