.navbar, .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
    background: transparent;
    border: none;
    background-color:green;
    border-radius: 0;
    color: black;
    font-family: 'Droid Sans', sans-serif;
    font-size: 20px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
    color: #E1B735;
}
#map {
    height: 50em;
    width: 50em;
}

.container {
    width: 80%;
}