{% extends 'base.html' %}

{% block Title %} Home {% endblock %}

{% block head %} 
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- moment js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
<!-- bootstrap datepicker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css"/>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBm2Vj5UTzzCPn_6ZYRQxOT55U3PtKXgQ&libraries=places&callback=initAutocomplete" async defer></script>


<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBm2Vj5UTzzCPn_6ZYRQxOT55U3PtKXgQ&libraries=places" async defer></script> -->
<script type="text/javascript" src="static/autocomplete_index.js"></script>

<link rel="stylesheet" rel="text/css" href="static/home.css">

{% endblock %}

{% block content %}

<!-- Page header -->

<div class="container">
    <div class="row">
        <div class="col-xs-12 main">
            <h1 class="main-title">Find your seat.</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" id="search">
            <form action="/search" id="indexsearch">
                <div class="row form-inline">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon start glyphicon-unchecked"></span>
                        </div> 
                        <label id="from" for="starting" class="hidden">From</label>
                        <input type="text" class="form-control" id="autocomplete" name="start-address"
                        aria-describedby="starting destination" onFocus="geolocate()" placeholder="Pick-up" required>
                        <!-- <input type="text" id="street_number" name="street_number"></input> -->
                        <input type="hidden" id="searchstring" name="searchstring"></input>
                        <!-- <input type="text" id="route" name="route"></input> -->
                        <input type="hidden" id="locality" name="locality"></input>
                        <input type="hidden" id="administrative_area_level_1" name="administrative_area_level_1"></input>
                        <input type="hidden" id="postal_code" name="postal_code"></input>
                        <input type="hidden" id="lat" name="lat"></input>
                        <input type="hidden" id="lng" name="lng"></input>  
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon end glyphicon-unchecked"></span>
                        </div>
                        <label for="ending" class="hidden">To</label>
                        <input type="text" class="form-control" id="autocomplete2" name="end-address"
                        aria-describedby="ending destination" onFocus="geolocate()" placeholder="Drop-off" required>
                        <!-- <input type="text" id="street_number2" name="street_number"></input> -->
                        <input type="hidden" id="searchstring2" name="searchstring2"></input>
                        <!-- <input type="text" id="route2" name="route2"></input> -->
                        <input type="hidden" id="locality2" name="locality2"></input>
                        <input type="hidden" id="administrative_area_level_12" name="administrative_area_level_1_2"></input>
                        <input type="hidden" id="postal_code2" name="postal_code2"></input>
                        <input type="hidden" id="lat2" name="lat2"></input>
                        <input type="hidden" id="lng2" name="lng2"></input>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-custom" type="submit">Go!</button>
                        </span>
                    </div>
                </div>
        <!-- submit button -->
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            </form>
        </div>
    </div>

</div>


{% endblock %}