{% extends 'base.html' %}

{% block Title %} Home {% endblock %}

{% block content %}

<form action="/login" method="post">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" 
                    aria-describedby="email destination" placeholder="Email" required>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" name="password" 
                    aria-describedby="password destination" placeholder="Password" required>
                </div>
            </div>
        </div>

        <br>
        <!-- submit button -->
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>

{% endblock %}