{% extends 'base.html' %}

{% block Title %} Home {% endblock %}

{% block content %}

<h1>User Details</h1>
    <p>
        Name: {{ user.first_name }} {{ user.last_name }}
    </p>
    <p>
        Email: {{ user.email }}
    </p>

{% if rides_offered %}
<div class="container">
    <table class="table table-hover">
    <h2>Approve/Deny Ride Requests</h2>
    <thead>
      <tr>
        <th>Date</th>
        <th>From</th>
        <th>Time</th>
        <th>To</th>
        <th>Time</th>
        <th>Cost</th>
        <th>Requester</th>
        <th>Seats Requested</th>
        <th>Approve/Deny</th>
      </tr>
    </thead>
    <tbody>
{% for ride in rides_offered %}

{% if ride.requests %}

{% for request in ride.requests %}
      <tr>
        <td>{{ ride.start_timestamp.strftime('%Y-%m-%d') }}</td>
        <td>{{ ride.start_city }}, {{ ride.start_state }}</td>
        <td>{{ ride.start_timestamp.strftime('%H:%M') }}</td>
        <td>{{ ride.end_city }}, {{ ride.end_state }}</td>
        <td>{{ ride.end_timestamp.strftime('%H:%M') }}</td>
        <td>{{ ride.cost }}</td>
        <td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
        <td>{{ request.seats }}</td>
        <td>
            <form action="/request-approval" method="POST">
                <input type="hidden" name="request_id" value={{ request.id }}></input>
                <input type="hidden" name="ride_id" value={{ ride.ride_id }}></input>
                <input type="hidden" name="requester" value={{ request.requester }}></input>
                <input type="hidden" name="seats" value={{ request.seats }}></input>
                <input type="submit" name='approvedeny' value="Approve">
            </form>
            <form action="/request-approval" method="POST">
                <input type="hidden" name="request_id" value={{request.id}}></input>
                <input type="submit" name='approvedeny' value="Reject">
            </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endif %}
{% endfor %}
{% endif %}




{% if rides_offered %}

<div class="container">
    <table class="table table-hover">
    <h2>Upcoming Rides you have offered</h2>
    <thead>
      <tr>
        <th>Date</th>
        <th>From</th>
        <th>Time</th>
        <th>To</th>
        <th>Time</th>
        <th>Seats</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
    {% for ride in rides_offered %}
      <tr>
        <td>{{ ride.start_timestamp.strftime('%Y-%m-%d') }}</td>
        <td>{{ ride.start_city }}, {{ ride.start_state }}</td>
        <td>{{ ride.start_timestamp.strftime('%H:%M')}}</td>
        <td>{{ ride.end_city }}, {{ ride.end_state }}</td>
        <td>{{ ride.end_timestamp.strftime('%H:%M')}}</td>
        <td>{{ ride.seats }}</td>
        <td>{{ ride.cost }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endif %}


{% if rides_taking %}

<div class="container">
    <table class="table table-hover">
    <h2>Upcoming Rides you are taking</h2>
    <thead>
      <tr>
        <th>Date</th>
        <th>Driver</th>
        <th>From</th>
        <th>Time</th>
        <th>To</th>
        <th>Time</th>
        <th>Seats</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
    {% for ride in rides_taking %}
      <tr>
        <td>{{ ride.ride.start_timestamp.strftime('%Y-%m-%d') }}</td>
        <td>{{ ride.ride.user.first_name }} {{ ride.ride.user.last_name }}</td>
        <td>{{ ride.ride.start_city }}, {{ ride.ride.start_state }}</td>
        <td>{{ ride.ride.start_timestamp.strftime('%H:%M')}}</td>
        <td>{{ ride.ride.end_city }}, {{ ride.ride.end_state }}</td>
        <td>{{ ride.ride.end_timestamp.strftime('%H:%M')}}</td>
        <td>{{ ride.ride.seats }}</td>
        <td>{{ ride.ride.cost }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endif %}



{% endblock %}