{% extends 'base.html' %}

{% block Title %} Register {% endblock %}

{% block content %}


<!-- Why isn't placeholder text displaying -->

<div class="well">
    emails name@
</div>

<form action="/register" method="post">
    <div class="form-group">

        <div class="row">
            <div class="col-xs-8">
                <label for="name">Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="name" name="name"
                    aria-describedby="name" placedholder="User Name" required>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-xs-8">
                <label for="email">Email</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="email" name="email"
                    aria-describedby="email" placedholder="Start Location" required>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-xs-8">
                <label for="password">Password</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="password" name="password"
                    aria-describedby="password" placedholder="End Location" required>
                </div>
            </div>
        </div>



        <!-- submit button -->
        <button type="submit" class="btn btn-primary">Register</button>

    </div>
</form>

{% endblock %}