{% extends 'base.html' %}

{% block Title %} Home {% endblock %}

{% block head %} 

<!-- jQuery UI, used by datepicker and timepicker -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- Bootstrap Time Picker -->
<script src="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/js/bootstrap-timepicker.min.js"></script>
<link href="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/css/bootstrap-timepicker.min.css" rel="stylesheet" />

<!-- google maps -->




<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBm2Vj5UTzzCPn_6ZYRQxOT55U3PtKXgQ&libraries=places" async defer></script> -->

<link rel="stylesheet" rel="text/css" href="static/navbar.css">
<link rel="stylesheet" rel="text/css" href="static/rideform.css">



{% endblock %}



{% block content %}


<div class="container" id="customcontainerwidth" role="main">
<!-- Why isn't placeholder text displaying -->

<div class="well col-xs-8 col-md-12">
    To Do:<br>
    - If there is no street number or street... Pop up a message!<br>
</div>

<form action="/post-ride" method="post" id="ride-form">
    <div class="form-group">

            <div class="row">
                <div class="col-xs-2">
                    <label for="seats">Seats Available</label>
                    <select class="form-control" data-index="1" name="seats">
                        {% for i in range(7) %}
                        <option value={{ i+1 }}>{{ i+1 }}</option>
                        {% endfor %}<span>
                    </select>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-lg-12">
                    <label for="cost">Cost per Seat</label>
                    <div class="input-group col-xs-2">
                        <span class="input-group-addon">$</span>
                        <input type="number" data-index="2" class="form-control" id="cost" name="cost"
                        aria-describedby="cost" placedholder="Ex: 15.00" min="1.00" max="50.00" step="1.00" required>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-lg-12">
                    <label for="start-auto">Starting Point</label>
                    <div class="input-group col-xs-6">
                        <input type="text" data-index="3" class="form-control autocomplete" id="autocomplete"name="start-address"
                        aria-describedby="start-streetaddress" placedholder="Address" required>
                    </div>
                </div>
            </div>
            <div>
            <input type="text" id="searchstring" name="searchstring"></input>
            <input type="text" id="street_number" name="street_number"></input>
            <input type="text" id="route" name="route"></input>
            <input type="text" id="locality" name="locality"></input>
            <input type="text" id="administrative_area_level_1" name="administrative_area_level_1"></input>
            <input type="text" id="postal_code" name="postal_code"></input>
            <input type="text" id="lat" name="lat"></input>
            <input type="text" id="lng" name="lng"></input>        
            </div>

            <br>

            <div class="row">
                <div class="col-lg-12">
                    <label for="start-auto">Ending Point</label>
                    <div class="input-group col-xs-6">
                        <input type="text" data-index="4" class="form-control autocomplete" id="autocomplete2" name="end-address"
                        aria-describedby="start-streetaddress" placedholder="Address" required>
                    </div>
                </div>
            </div>

            <div>
            <input type="text" id="searchstring2" name="searchstring"></input>
            <input type="text" id="street_number2" name="street_number"></input>
            <input type="text" id="route2" name="route2"></input>
            <input type="text" id="locality2" name="locality2"></input>
            <input type="text" id="administrative_area_level_12" name="administrative_area_level_1_2"></input>
            <input type="text" id="postal_code2" name="postal_code2"></input>
            <input type="text" id="lat2" name="lat2"></input>
            <input type="text" id="lng2" name="lng2"></input>

            </div>



        <fieldset>
            <legend>When will you leave?</legend>
                <div class="container">
                    <div class='col-xs-5'>
                        <label data-index="5" for="date-picker">Date</label>
                        <div class="input-group">
                            <input id="date-picker" name="date" type="text" class="date-picker form-control" />
                            <label for="date-picker" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
                            </label>
                        </div>
                    </div>

                    <div class='col-xs-5'>
                        <label for="timepicker">Time</label>
                        <div class="input-group bootstrap-timepicker timepicker">
                          <input id="timepicker" name="time" data-index="6" type="text" class="form-control input-small">
                          <label for="timepicker" class="input-group-addon btn"><span class="glyphicon glyphicon-time"></span>
                            </label>
                        </div>
                    </div>
                </div>
        </fieldset>

        <br>

        <fieldset>
            <legend>Details</legend>
                <div class="row">
                    <div class="col-xs-8">
                        <label for="cartype">What kind of car do you drive?</label>
                        <div class="input-group">
                            <input type="text" data-index="7" class="form-control" id="cartype" name="cartype"
                            aria-describedby="cartype" placedholder="Car Type" required>
                        </div>
                    </div>
                </div>

                <br> 

        

                <br> 
                <div class="row">
                    <div class="col-xs-2">
                        <label for="luggage">Maxiumum luggage per person</label>
                        <select class="form-control" data-index="8" d="luggage" name="luggage"
                            aria-describedby="luggage" placedholder="" required>
                            <option value="small">small</option>
                            <option value="medium">medium</option>
                            <option value="large">large</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-2">
                        <label for="pickup-window">Pickup Flexibilty</label>
                        <select class="form-control" data-index="9" d="pickup-window" name="pickup-window"
                            aria-describedby="pickup-window" placedholder="" required>
                            <option value="No">No flexibility</option>
                            <option value="15 min">In a 15 min window</option>
                            <option value="30 min">In a 30 min window</option>
                            <option value="1 hour">In a 1 hour window</option>
                            <option value="2 hour">In a 1 hour window</option>
                            <option value="flexible">Vert flexible, discuss</option>
                        </select>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-xs-2">
                        <label for="detour">Possible Detour</label>
                        <select class="form-control" data-index="10" d="detour" name="detour"
                            aria-describedby="detour" placedholder="" required>
                            <option value="No">No detour</option>
                            <option value="15 min">15 min</option>
                            <option value="30 min">30 min</option>
                            <option value="flexible">Flexible, discuss</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <label for="comments">Comments</label>
                        <div class="input-group">
                            <textarea form="ride-form" data-index="11" class="form-control" id="comments" name="comments"
                            aria-describedby="comments" placedholder="" required></textarea>
                        </div>
                    </div>
                </div>

        </fieldset>

        <!-- submit button -->
        <button type="submit" id="ride-form-submit" class="btn btn-primary">Submit</button>

    </div>
</form>

<script> 

    // var submitRide = $('#ride-form-submit');

    // function checkLoggedIn(evt) {
    //     evt.preventDefault();

    // }

    // submitRide.on('click', checkLoggedIn);



</script>
<script type="text/javascript" src="static/autocomplete_index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBm2Vj5UTzzCPn_6ZYRQxOT55U3PtKXgQ&libraries=places&callback=initAutocomplete" async defer></script>

<!-- 
<script>
$('#ride-from').on('keydown', 'input', function (evt) {
    console.log('did i even get here')
    if (evt.which == 13) {
        evt.preventDefault();
        var $this = $(evt.target);
        var index = parseFloat($this.attr('data-index'));
        $('[data-index="' + (index + 1).toString() + '"]').focus();
    }
});
</script>
 -->
<script> $(".date-picker").datepicker(); </script>

<script>
    $('#timepicker').timepicker({
        showInputs: false
    });
</script>

<script>

$('#cost').on("change", function() {
    $(this).val(parseInt($(this).val()).toFixed(2));
});

</script>

    

<script>
var submit = $('#ride-form-submit')

function promptLogin(data) {
    console.log(data)
    if (data['logged_in'] != true) {
        console.log('log in yo')
        return
    }
    else {
        $('#ride-form').submit()
        console.log("yo submit the form")

    }
}


submit.on('click', function(evt) {
    evt.preventDefault();
    //This is my attempt at fixing the user flow... revist
    // if (evt.which == 13) {
    //     console.log('am i here')
    //     evt.preventDefault();
    //     var $this = $(evt.target);
    //     var index = parseFloat($this.attr('data-index'));
    //     console.log(index)
    //     $('[data-index="' + (index + 1).toString() + '"]').focus();
    // }
    $.get('/check-login.json', promptLogin)
    evt.stopPropagation();
    $('.dropdown').addClass('open')
    $('#status').text('Please log in to submit a ride');
    
});


</script>



{% endblock %}