{% extends 'base.html' %}

{% block Title %} Home {% endblock %}

{% block head %} 
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- moment js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
<!-- bootstrap datepicker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css"/>

<!-- 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBm2Vj5UTzzCPn_6ZYRQxOT55U3PtKXgQ&libraries=places&callback=initAutocomplete" async defer></script> -->


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBm2Vj5UTzzCPn_6ZYRQxOT55U3PtKXgQ&libraries=places" async defer></script>


{% endblock %}



{% block content %}


<!-- Jquery -->


<div class="container" id="customcontainerwidth" role="main">
<!-- Why isn't placeholder text displaying -->

<div class="well col-xs-8 col-md-12">
    To Do:<br>
    - Change cost so decimals not allowed<br>
    - If there is no street number or street... Pop up a message!<br>
</div>

<form action="/post-ride" method="post" id="ride-form">
    <div class="form-group">

            <div class="row">
                <div class="col-xs-2">
                    <label for="seats">Seats Available</label>
                    <select class="form-control" name="seats">
                        {% for i in range(7) %}
                        <option value={{ i+1 }}>{{ i+1 }}</option>
                        {% endfor %}<span>
                    </select>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-lg-12">
                    <label for="cost">Cost per Seat</label>
                    <div class="input-group col-xs-2">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" id="cost" name="cost"
                        aria-describedby="cost" placedholder="Ex: 15.00" min="1.00" required>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-lg-12">
                    <label for="start-auto">Starting Point</label>
                    <div class="input-group col-xs-6">
                        <input type="text" class="form-control autocomplete" id="autocomplete"name="start-address"
                        aria-describedby="start-streetaddress" placedholder="Address" required>
                    </div>
                </div>
            </div>
            <div>
            <input type="text" id="searchstring" name="searchstring"></input>
            <input type="text" id="street_number" name="street_number"></input>
            <input type="text" id="route" name="route"></input>
            <input type="text" id="locality" name="locality"></input>
            <input type="text" id="administrative_area_level_1" name="administrative_area_level_1"></input>
            <input type="text" id="postal_code" name="postal_code"></input>
            <input type="text" id="lat" name="lat"></input>
            <input type="text" id="lng" name="lng"></input>        
            </div>

            <br>

            <div class="row">
                <div class="col-lg-12">
                    <label for="start-auto">Ending Point</label>
                    <div class="input-group col-xs-6">
                        <input type="text" class="form-control autocomplete" id="autocomplete2" name="end-address"
                        aria-describedby="start-streetaddress" placedholder="Address" required>
                    </div>
                </div>
            </div>

            <div>
            <input type="text" id="searchstring2" name="searchstring"></input>
            <input type="text" id="street_number2" name="street_number"></input>
            <input type="text" id="route2" name="route2"></input>
            <input type="text" id="locality2" name="locality2"></input>
            <input type="text" id="administrative_area_level_12" name="administrative_area_level_1_2"></input>
            <input type="text" id="postal_code2" name="postal_code2"></input>
            <input type="text" id="lat2" name="lat2"></input>
            <input type="text" id="lng2" name="lng2"></input>

            </div>

        <fieldset>
            <legend>When will you leave and Arrive?</legend>
                <div class="container">
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input type='text' name='date1' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input type='text' name='date2' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
        </fieldset>

        <br>

        <fieldset>
            <legend>Details</legend>
                <div class="row">
                    <div class="col-xs-8">
                        <label for="cartype">What kind of car do you drive?</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cartype" name="cartype"
                            aria-describedby="cartype" placedholder="Car Type" required>
                        </div>
                    </div>
                </div>
        

                <br> 
                <div class="row">
                    <div class="col-xs-2">
                        <label for="luggage">Maxiumum luggage per person</label>
                        <select class="form-control" d="luggage" name="luggage"
                            aria-describedby="luggage" placedholder="" required>
                            <option value="small">small</option>
                            <option value="medium">medium</option>
                            <option value="large">large</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-2">
                        <label for="pickup-window">Pickup Flexibilty</label>
                        <select class="form-control" d="pickup-window" name="pickup-window"
                            aria-describedby="pickup-window" placedholder="" required>
                            <option value="No">No flexibility</option>
                            <option value="15 min">In a 15 min window</option>
                            <option value="30 min">In a 30 min window</option>
                            <option value="1 hour">In a 1 hour window</option>
                            <option value="2 hour">In a 1 hour window</option>
                            <option value="flexible">Vert flexible, discuss</option>
                        </select>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-xs-2">
                        <label for="detour">Possible Detour</label>
                        <select class="form-control" d="detour" name="detour"
                            aria-describedby="detour" placedholder="" required>
                            <option value="No">No detour</option>
                            <option value="15 min">15 min</option>
                            <option value="30 min">30 min</option>
                            <option value="flexible">Flexible, discuss</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <label for="comments">Comments</label>
                        <div class="input-group">
                            <textarea form="ride-form" class="form-control" id="comments" name="comments"
                            aria-describedby="comments" placedholder="" required></textarea>
                        </div>
                    </div>
                </div>

        </fieldset>


        <script type="text/javascript">
 
        $(function () {
            $('#datetimepicker6').datetimepicker();
            $('#datetimepicker7').datetimepicker();
            $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
        });


    </script>

    <script type="text/javascript" src="static/autocomplete.js"></script>


        <!-- submit button -->
        <button type="submit" id="ride-form-submit" class="btn btn-primary">Submit</button>

    </div>
</form>

<script> 

    // var submitRide = $('#ride-form-submit');

    // function checkLoggedIn(evt) {
    //     evt.preventDefault();

    // }

    // submitRide.on('click', checkLoggedIn);



</script>

{% endblock %}