{% extends 'base.html' %}

{% block Title %} Home {% endblock %}

{% block head %} 
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- moment js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
<!-- bootstrap datepicker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css"/>

<!-- 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBm2Vj5UTzzCPn_6ZYRQxOT55U3PtKXgQ&libraries=places&callback=initAutocomplete" async defer></script>
 -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBm2Vj5UTzzCPn_6ZYRQxOT55U3PtKXgQ&libraries=places" async defer></script>
  <script>
  $( function() {
    $( "#slider-range-max" ).slider({
      range: "max",
      min: 0,
      max: 1440,
      step: 15,
      value: 750,
      slide: function( event, ui ) {
        var hours1 = Math.floor(ui.value / 60);
        var minutes1 = ui.value - (hours1 * 60);

        if (hours1.length == 1) hours1 = '0' + hours1;
        if (minutes1.length == 1) minutes1 = '0' + minutes1;
        if (minutes1 == 0) minutes1 = '00';
        if (hours1 >= 12) {
            if (hours1 == 12) {
                hours1 = hours1;
                minutes1 = minutes1 + " PM";
            } else {
                hours1 = hours1 - 12;
                minutes1 = minutes1 + " PM";
            }
        } else {
            hours1 = hours1;
            minutes1 = minutes1 + " AM";
        }
        if (hours1 == 0) {
            hours1 = 12;
            minutes1 = minutes1;
        }
        $('.slider-time').html(hours1 + ':' + minutes1);
        $('.slider-time').val(hours1 + ':' + minutes1);


    }
});

  } );

$(function() {
  $('.ui-slider-handle').on('mouseup', function(evt) {
        console.log($('.slider-time').val());
      })
});
  </script>



{% endblock %}

{% block content %}
<div class="container">
  <div class="well">
    To Do:
    - Don't show rides you are the driver for!!!
    - Adjust enter stroke for search
    - Sync of reverse button
  </div>

  <form action="/search">
    <div class="row form-inline">
      <fieldset>

        <div class="col-md-12">
          <label for="start-address">Enter Your Destination</label>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="autocomplete" name="start-address"
            aria-describedby="starting destination" placeholder="Enter Starting Location" required>

          <div>
           <!--  <input type="text" id="street_number" name="street_number"></input>
            <input type="text" id="route" name="route"></input> -->
            <input type="hidden" id="locality" name="locality"></input>
            <input type="hidden" id="administrative_area_level_1" name="administrative_area_level_1"></input>
            <input type="hidden" id="postal_code" name="postal_code"></input>
            <input type="hidden" id="lat" name="lat"></input>
            <input type="hidden" id="lng" name="lng"></input>        
          </div>

        </div>

        <div class="form-group">
          <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
        </div>

        <div class="form-group">
          <input aria-label type="text" class="form-control" id="autocomplete2" name="end-address"
          aria-describedby="ending destination" placeholder="Enter Ending Location" required> 
          <div>
             <!--  <input type="text" id="street_number2" name="street_number"></input>
              <input type="text" id="route2" name="route2"></input> -->
              <input type="hidden" id="locality2" name="locality2"></input>
              <input type="hidden" id="administrative_area_level_12" name="administrative_area_level_1_2"></input>
              <input type="hidden" id="postal_code2" name="postal_code2"></input>
              <input type="hidden" id="lat2" name="lat2"></input>
              <input type="hidden" id="lng2" name="lng2"></input>
          </div>             
        </div>

    <!-- submit button -->
      <button type="submit" class="btn btn-primary" style="display:none">Submit</button>

      </fieldset>
    </div>
  </form>

  <br>

  <div class="well row col-xs-12">
    <span class="col-xs-4">Toggle Date</span>
    <span class="col-xs-4">Toggle Pickup Time</span>
    <span class="col-xs-4">Toggle Price</span>
  </div>
  <br>

  <div id="time-slider">
    <label for="slider-range-max">Time Range: <span class="slider-time">10:00 AM</span></label>
    <div class="row col-xs-4" id="slider-range-max"></div>
  </div>
  

  


  <br>

  <table class="table table-hover">
    {% if rides %}

    {% for ride in rides %}

    <tbody>
      <tr> 
        <td class="col-xs-2" style="padding-right:20px; border-right: 1px solid #ccc;">
          <div class="row">
            <img class="img-responsive" src="{{ ride.user.image }}" alt="driver image" width="100" height="100">
          </div>

          <div class="row">
            <div>
              <h5>{{ ride.user.first_name }}</h5>
            </div>
            <div>
              <form action="/request-seats" method="POST">
                <div class="input-group">
                  <select class="form-control" name='seats' style="width:auto;">
                    {% for i in range(ride.seats) %}
                    <option value={{ i+1 }}>{{ i+1 }}</option>
                    {% endfor %}<span>
                  <input type="hidden" name="ride_id" value={{ride.ride_id}}></input>
                  <input class="btn btn-default" type="submit" value="Request Seats"></span>
                </div>
              </form>
            </div>
          </div>
        </td>

        <td class="col-xs-8" style="padding-right:20px; padding-left:20px; border-right: 1px solid #ccc;">
          <div class="row">
            <h4>{{ ride.start_timestamp }}</h4>
          </div>

          <div class="row">
            <h5>{{ ride.start_city }}, {{ ride.start_state }} 
              <span class="glyphicon glyphicon-arrow-right"></span>
                 {{ ride.end_city }}, {{ ride.end_state }}</h5>
          </div>

          <div class="row">
            <p>
              <span class="glyphicon glyphicon-unchecked" style="color:green"></span>
              <span>
                
                {% if ride.start_name is not none %}

                {{ ride.start_name }}

                {% endif %}

                {% if (ride.start_number is not none) and (ride.start_street is not none) %}

                {{ ride.start_number }} {{ ride.start_street }}, 

                {% endif %}

                {% if ride.start_city is not none %}
                {{ ride.start_city }}, 
                {% endif %}

                {% if ride.start_state is not none %}
                  {% if ride.start_zip %}
                    {{ ride.start_state }}, 
                  {% else %}
                    {{ ride.start_state }}
                  {% endif %}
                {% endif %}

                {% if ride.start_zip is not none %}
                {{ ride.start_zip }}
                {% endif %}




             </span>
            </p>
          </div>

          <div class="row">
            <p>
              <span class="glyphicon glyphicon-unchecked" style="color:red"></span>
              <span>
              {% if ride.end_name is not none %}

                {{ ride.end_name }}

                {% endif %}

                {% if (ride.end_number is not none) and (ride.end_street is not none) %}

                {{ ride.end_number }} {{ ride.end_street }}, 

                {% endif %}

                {% if ride.end_city is not none %}
                {{ ride.end_city }}, 
                {% endif %}

                {% if ride.end_state is not none %}
                  {% if ride.end_zip %}
                    {{ ride.end_state }}, 
                  {% else %}
                    {{ ride.end_state }}
                  {% endif %}
                {% endif %}

                {% if ride.end_zip is not none %}
                {{ ride.end_zip }}
                {% endif %}
              </span>
            </p>
          </div>
        </td>

        <td class="col-xs-2" style="padding-left:20px;">
          <div class="row">
            <span><h1>${{ ride.cost }}</h1></span>
          </div>

          <div class="row">
            <h4><small><i>per passenger</i><small></h4>
            </div>

            <div class="row">
              <h4>{{ ride.seats }} Seats Left</h4>
            </div>

           <!--  Luggage, Detours -->
            <div class="row">
              <!-- luggage -->
              <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="You are allowd to bring 1 {{ ride.luggage }} suitcase">
                <span class="glyphicon glyphicon-heart col-xs-4" style="font-size:2em;"></span>
              </a>

              <!-- Flexible Picup -->
              {% if ride.pickup_window == "flexible" %}
              <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Pickup time is very flexible, discuss with driver">
                <span class="glyphicon glyphicon-star col-xs-4" style="font-size:2em;"></span>
              </a>

              {% elif ride.pickup_window != "No" %}
              <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Pickup time is flexible in a {{ ride.pickup_window }} window">
                <span class="glyphicon glyphicon-star col-xs-4" style="font-size:2em;"></span>
              </a>

              {% endif %}

              {% if ride.detour == "flexible" %}

              <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Driver is very flexible with detours">
                <span class="glyphicon glyphicon-star-empty col-xs-4" style="font-size:2em;"></span>
              </a>

              {% elif ride.detour != "No" %}

              <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Driver is open to a {{ ride.detour }} detour">
                <span class="glyphicon glyphicon-star-empty col-xs-4" style="font-size:2em;"></span>
              </a>

              {% endif %}


              
            </div>  
            <script> $("a.my-tool-tip").tooltip(); </script>
          </div>

        </td>
      </tr>
    {% endfor %}
    {% else %}

  <p>No upcoming rides for that search</p>

  {% endif %}


    </tbody>
  </table>
    

<script>
            var placeSearch, autocomplete, autocomplete2;

      var componentForm = {
        // street_number: 'long_name',
        // route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        postal_code: 'short_name'
      };

       var options = {
          types: ['(cities)'],
          componentRestrictions: {country: "us"}
         };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */
            (document.getElementById('autocomplete')), options);

        autocomplete.addListener('place_changed', function() {
            fillInAddress(autocomplete, "");
        });

        autocomplete2 = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */
            (document.getElementById('autocomplete2')), options); // what does ** @type mean

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        
        autocomplete2.addListener('place_changed', function() {
            fillInAddress(autocomplete2, "2");
        });               // look up the place_changed listener
      
      }

      function fillInAddress(autocomplete, unique) {
        // Get the place details from the autocomplete object.

        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          if(!!document.getElementById(component + unique)) {
            document.getElementById(component + unique).value = '';
          // document.getElementById(component).disabled = false;
        }
    }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType] && document.getElementById(addressType + unique)) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType + unique).value = val;
        }
        }

        if (place.geometry.location) {
            var lat = place.geometry.location.lat()
            document.getElementById('lat' + unique).value = lat;
            var lng = place.geometry.location.lng()
            document.getElementById('lng' + unique).value = lng;
        }
      }

      google.maps.event.addDomListener(window, "load", initAutocomplete);

      function geolocate() {
                if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                      center: geolocation,
                      radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                  });
                }
              }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      

        </script>





{% endblock %}


    
